@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/cvfont/icomoon.eot?xycwsq');
    src:    url('../fonts/cvfont/icomoon.eot?xycwsq#iefix') format('embedded-opentype'),
    url('../fonts/cvfont/icomoon.ttf?xycwsq') format('truetype'),
    url('../fonts/cvfont/icomoon.woff?xycwsq') format('woff'),
    url('../fonts/cvfont/icomoon.svg?xycwsq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-paperplane{
    /*content:"\e900";*/
    font-size:4rem;
    vertical-align: 50%;
    opacity:0;
    color:white;
    transition:opacity 100ms linear 400ms;
}
.special-link:hover .icon-paperplane{
    opacity:100;
}

a:focus{
    text-decoration:none;
    outline:none;
    color:#156B8E;
}
a:visited{
    color:#156B8E;
}
a:link{
    color:#193946;
}

.wrap {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 20px;
    height:auto;
    /* padding-top: 100px; */
    /* background: url(../images/img/bg1.png) repeat; */
    /* background-color: #D6B9D9; */
    background: #9cdeff;
    overflow: hidden;
}
#photo{
    display: none;
}
html,body{height:100%;}
body {
    font-family: 'LucidaGrande';

}

h1, h2, h3, h4, p {
    color: #1a4557;
    font-family: 'Palatino-Italic';
}
h1{
    /*font-size:93px;*/
    font-size:5.8rem;
}


h2 {
    font-size: 2.19rem;
}

h3 {
    font-size: 1.375rem;
}

p {
    font-size: 1rem;
    letter-spacing: -0.13px;
    /*margin-bottom:0;*/
}
.education h4+p,.work h4+p{
    margin-bottom:0;
}
.col-md-7{
    padding-top:180px;
}
.col-md-7 section{
    margin-top:54px;
}

article h2 {
    font-size: 1.875rem;
    color: #193946;
    padding-bottom: 7px;
    border-bottom: 1px solid#193946;
}


article h4 {
    word-wrap:break-word;
    font-size: 1.375rem;

    letter-spacing: -0.08px;
}

article blockquote {
    font-family: Palatino-Italic;
    font-size: 1rem;
    letter-spacing: -0.13px;
    line-height: 26px;
}

aside {
    width: 350px;
    float:right;
    /* padding-bottom:180px; */
    /*position: absolute;*/
    /*top:0;*/
    /*right:15px;*/
}
aside section{
    margin-bottom:75px;
}
aside .design h2{
    margin-right:15px;
    margin-left:-16px;
}

.aside-wrap {
    position: relative;

}



aside h2{
    margin-right:32px;
    padding-bottom:7px;
}

.design h2 {
    /*font-size: 35.09px;*/
    color: #02F699;
    border-bottom: 1px solid #02F699;
}

.coding h2 {
    color: #00F1FF;
    border-bottom: 1px solid #00F1FF;
}

.language h2 {
    color: #D2FF00;
    border-bottom: 1px solid #D2FF00;
}

aside h3 {
    color: #FBD3AE;
}

.rate span.filled, .rate span.hollow {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 2.5px;
}

.rate span.filled {
    background: #FF8F28;
}

.rate span.hollow {
    border: 2px solid #FF8F28;
}

.portrait {
    position: relative;
    height: 400px;
    background-image: url(../images/img/bottom2.png), url(../images/img/portrait.png), url(../images/img/top3.png);
    background-repeat: no-repeat;
    background-position: center 206px, center, center top;
    overflow: visible;

    /*make background content-box*/
    box-sizing: content-box;
    padding-top: 10px;

    background-origin: content-box;
}

.animating {
    animation-duration: 400ms;
    -webkit-animation-name: animatedPortrait;
    -moz-animation-name: animatedPortrait;
    -o-animation-name: animatedPortrait;
    animation-name: animatedPortrait;
    animation-iteration-count: 1;
    /*animation-timing-function: ease-out-quad;*/
    animation-timing-function: linear;
    animation-direction: alternate;
}

.mask {
    width: 180px;
    height: 260px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 10%;
    border: 1px solid black;
    opacity:0;

}

.skills {
    padding-left: 2em;
    background:url(../images/img/blue_bg.png) repeat #4E678D;
    /* height:2000px; */
    height: 100%;
}


@keyframes animatedPortrait {

    35% {
        background-position: center 206px, center 100px, center top;
    }
    50%{
        background-position: center 206px, center 100px, center top;
    }
    75% {
        background-position: center 206px, center -10px, center top;
    }

    100%{
        background-position: center 206px, center, center top;
    }
}

/*link animation*/
.special-link {
    outline: none;
    position: relative;
    line-height: 1;
    display: inline-block;
    font-weight: 900;
    overflow: hidden;
    line-height: 1.2;
    color:inherit;
}

.special-link:hover {
    text-decoration:none;
}

/*underline effect*/
.special-link::after {
    content: '';
    position: absolute;
    height: .2rem;
    width: 100%;
    bottom: 10%;
    right: 0;
    /*background: #F9F9F9;*/
    background:#156B8E;
    /*background:#4E678D;*/
    transform: translate3d(-100%,0,0);
    transition: transform 400ms;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.special-link:hover::after {
    transform: translate3d(100%,0,0);
}

/*text color overlay effect*/
.special-link::before {
    content: attr(data-letters);
    position: absolute;
    left:0;
    bottom:0;
    text-align: left;
    z-index: 2;
    overflow: hidden;
    color:#156B8E;
    /*color:#4E678D;*/
    white-space: nowrap;
    width: 0%;
    transition: width 400ms;
}

.special-link:hover::before {
    width: 100%;
}

/*end link animation*/

/*animated trees */
#animatedtrees_hype_container{
    /*float:left;*/
    /*position:relative;*/
    min-height:270px;
}
.trees_wrapper{
    /* position:absolute; */
    width:100%;
    /* top:-70px; */

}



@media only screen and (max-width: 992px) {
    .col-md-7{padding-right:50px;}
}
/*mobile*/
@media only screen and (max-width:767px){
    /*html{*/
        /*font-size:12px;*/
    /*}*/
    .col-md-7{
        padding-right:7.5px;
        padding-top:0;

    }
    .trees_wrapper{
        position:inherit;
    }
    aside{display: none;}

    #photo{
        display: block;
        position: relative;
        z-index: 1000;

        margin:-6rem auto 0;
        width:40%;
    }
    article h1,article h3,article blockquote,article h2,article p,article h4{
        text-align:center;
    }
    article h1{
        font-size:3rem;
        margin-bottom: 0;
    }
    /*make link truly centered*/
    .special-link{
    }
    .special-link .icon-paperplane{
        display: none;
    }
    /*.mobile-block{*/
        /*border:1px dotted #A874AE;*/
    /*}*/
    .col-md-7{
    padding-right: .9375rem;
    }
    .col-md-7 section{
        margin:0;
    }
    .skills{
        text-align: center;
        margin-bottom:1rem;
    }
    div.rate{
        width:50%;
        margin:0 auto;
    }

    article h2,.skills h2{
        font-size:1.5rem;
    }
    .skills h2{
        padding-top:.5rem;
    }
    .design h2{padding-top:0;}
    .skills h3{
        font-size:1.2rem;
        text-align: center;
        color:#FBD3AE;
    }
    .skills h3:last-of-type{
        margin-bottom:0;
    }

    .trees_wrapper{

        width:150%;
    }

   
    .skills{
        height:auto;
        /*background: none;*/
        padding-left:0;
        padding-top:1rem;
        padding-bottom:1rem;
    }
    /*.detail div{*/
        /*border-left:1px solid black;*/
    /*}*/


    /*.aside-wrap{*/
        /*position:static;*/
    /*}*/

}
@media only screen and (max-width:350px){
    .special-link{
        margin-left:.5rem;
    }
}


